@import "tailwindcss";
/* @plugin "daisyui"; */


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1273D4;
  --color-secondary: #cfdbe7;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark-bg {
  @apply  dark:from-gray-900 dark:to-gray-800;
}


.btn-linear {
  @apply bg-linear-to-r from-purple-600 to-blue-600 text-white font-semibold;
}

.linear-text {
  @apply bg-linear-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent
}

.btn-hover{
  @apply hover:scale-110 transition-transform duration-300
}


@keyframes blob {
          0% {
            transform: translate(0px, 0px) scale(1);
          }
          33% {
            transform: translate(30px, -50px) scale(2);
          }
          66% {
            transform: translate(-20px, 20px) scale(0.9);
          }
          100% {
            transform: translate(0px, 0px) scale(1);
          }
        }
        .animate-blob {
          animation: blob 7s infinite;
        }
        .animation-delay-2000 {
          animation-delay: 1s;
        }
        .animation-delay-4000 {
          animation-delay: 2s;
        }
