@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1273D4;
  --color-secondary: #E8EDF2;
}